.circular-progress {
    border-style:solid;

    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    transform: rotateY(0deg) rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.centerLoader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.circular-progress::before {
    content: "";
    position: absolute;
    border-style:solid;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #ffffff;
}

.progress-value {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    transform: rotateY(0deg) rotate(180deg);
}